<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div id="logout">
          <a href="/auth/logout">Logout</a>
        </div>
      </div>
      <div id="content">
        <div id="video">
          <a href="#">click here to show videos</a>
        </div>
      </div>
      <div id="footer"></div>
    </div>
  </body>

  <script>
    const video = document.getElementById('video')
    video.addEventListener('click', () => {
      window.location.href = '/videos?token=' + localStorage.getItem('token')
    })

    const logout = document.getElementById('logout')
    logout.addEventListener('click', () => {
      async function logout() {
        const res = await fetch('/auth/logout', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
        })
        const data = await res.json()
        localStorage.removeItem('token')
      }
      logout()
    })
  </script>
</html>
