<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <form action="/login" method="POST">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
      <button type="submit">Login</button>
    </form>

    <a href="auth/register" id="register">Register</a>
  </body>
  <script>
    const registerEl = document.getElementById('register')
    registerEl.addEventListener('click', (e) => {
      e.preventDefault()
      window.location.href = '/auth/register'
    })
    const form = document.querySelector('form')
    form.addEventListener('submit', (e) => {
      e.preventDefault()
      const email = document.querySelector('#email').value
      const password = document.querySelector('#password').value
      async function login() {
        const resp = await fetch('/auth/login', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            email,
            password,
          }),
        })

        const data = await resp.json()
        if (data && data['access_token']) {
          localStorage.setItem('token', data['access_token'])
          window.location.href = '/users/home?token=' + localStorage.getItem('token')
        } else {
          alert('Invalid email or password')
        }
      }
      login()
    })
  </script>
</html>
