<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List Video</title>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div id="home">
          <a href="#">Home</a>
        </div>
        <div id="logout">
          <a href="#">Logout</a>
        </div>
      </div>
      <div id="content">
        <% for(const video of videos){ %>
        <div id="video">
          <div id="video-title">
            <h3>ID:<%= video.id %></h3>
          </div>
          <video src="<%=video.url%>" controls></video>
          <div id="detail"><a href="#">show more</a></div>
        </div>
        <% } %>
      </div>
      <div id="footer"></div>
    </div>
  </body>

  <script>
    const showMore = document.getElementById('detail')
    showMore.addEventListener('click', (e) => {
      e.preventDefault()
      const video = e.target.parentNode.parentNode
      const videoText = video.querySelector('h3').innerText
      const videoId = videoText.split(':')[1].trim()
      window.location.href = `/videos/${videoId}?token=` + localStorage.getItem('token')
    })

    const home = document.getElementById('home')
    home.addEventListener('click', (e) => {
      e.preventDefault()
      window.location.href = '/users/home?token=' + localStorage.getItem('token')
    })
  </script>
</html>
