<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List Video</title>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div id="logout">
          <a href="/logout">Logout</a>
        </div>
      </div>
      <div id="content">
        <% for(const video of videos){ %>
        <div id="video">
          ID: <%= video.id %>
          <video src="<%=video.url%>" controls></video>
        </div>
        <% } %>
      </div>
      <div id="footer"></div>
    </div>
  </body>
</html>
